body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  position: absolute;
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100% !important;
  width: 100% !important;
}

p {
  margin: 0px 0px 0px 0px;
}

a {
  font-style: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div {
  display: block;
}

a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

img, svg {
  user-select: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-display);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
